---
layout: default
title: Research
---

<h1>Research Articles</h1>

<ul>
  {% assign posts = site.research | sort: 'title' %}
  {% for paper in posts %}
    <li>
      <h3><a href="{{ paper.url | relative_url }}">{{ paper.title }}</a></h3>

      {% if paper.summary %}
        <p>{{ paper.summary }}</p>
      {% else %}
        <p>{{ paper.content | strip_html | truncate: 250 }}</p>
      {% endif %}

      <a href="{{ paper.url | relative_url }}">Read more</a>
    </li>
    <hr>
  {% endfor %}
</ul>
